extends layout

block layout-content
    div.page-main__content
        h2.main-content_about-title About us!

        p We are all about pets and we proudly work with quality products for them.
        p Thanks to our team efforts, JS Pet Store was finally lauched online in February of 2022. Here, we try to offer the most varied types of products.
        p Quality is our Middle Name! We deliver all over Ontario.
        p Our mission is to offer premium products and services to your pet while making your life easier.
        p Hope you enjoy navigating at JSPetStore.ca!
        div.content__image
          img(src="/images/dog_child.jfif", alt="A happy dog").main-content__image

          //- dog_child https://unsplash.com/s/photos/dog-happy
