extends layout

block layout-content
  div.banner-content
    div
      img(src="images/photo-1516453734593-8d198ae84bcf.jfif", alt="A dog walking inside of a petstore").banner-content__image
    div
      img(src="/images/cat_photo-1641763673968-df2dcb414517.jfif", alt="A brown cat with green eyes facing the camera").banner-content__image
    div
      img(src="/images/ferret_photo-1615087240969-eeff2fa558f2.jfif", alt="a brown ferret facing the camera").banner-content__image


  div.page-main__content-wrapper
    div.page-main__content
      h2.main-content_title Want your pet nice and clean?
      div.content__image
        img(src="/images/bath_photo-1516386408840-d718a820a05c.jfif", alt="Golden retriver dog taking a shower").main-content__image
      p Our speacialists will happily assist you.
      a.content__btn#content__bath-btn(href="#") Schedule a bath

    div.page-main__content
        h2.main-content_title We're Open!
        div.content__image
          img(src="/images/shop_photo-1472851294608-062f824d29cc.jfif", alt="Open shop Sign on the store doors").main-content__image
        p Only those who trully love pets may understand the relationship of love and complicity we have with our best buddies. It is really a strong and unique bond!
        p For this reason, we spare no effort in order to bring them even more joy and quality of life.Food , accessories, medications, and toys are on our priority list!
        p You can find this all and much more here at our online portal or you can can also come to our Pet Shop.

    div.page-main__content
      h2.main-content_title Pet Sitter
      div.content__image
        img(src="/images/pet_sitter_photo-1531617494862-4e322fb560c9.jfif", alt="Open shop Sign on the store doors").main-content__image
      p Your pets with one of our Pet Sitters who will visit, feed, play and take care of them while your away.
      a.content__btn#content__schedule-btn(href="#") Schedule it now



//- All images are free and were taken from unsplash.com
//- These are the links I used.
//- https://unsplash.com/photos/F3lBkL_y9KY
//- https://unsplash.com/s/photos/petshop-cat
//- https://unsplash.com/s/photos/ferrets
//- https://unsplash.com/photos/TTGSZSElkOI
//- https://unsplash.com/photos/c9FQyqIECds
//- https://unsplash.com/photos/1MO9VGUC138