extends layout

block layout-content
  div.main-content_title
    h2.main-content_sale-title ON SALE NOW
  div.page-main__content-wrapper
    div.page-main__content
      h2.main-content_title JS Dog Tent
      div.content__image
        img(src="/images/dog_tent.jfif", alt="Small dog in a JS tent").main-content__image
      p.content__price Only $20
      a.content__btn#content__bath-btn(href="#") BUY NOW
    
    div.page-main__content
      h2.main-content_title JS Treats
      div.content__image
        img(src="/images/dog_treats.jpeg", alt="Small dogs getting JS treats").main-content__image
      p.content__price Pack of 15 $3.99
      a.content__btn#content__schedule-btn(href="#") BUY NOW

      
    div.page-main__content
      h2.main-content_title JS Large Breed Dog Food
      div.content__image
        img(src="/images/dog_food.jfif", alt="Dog smelling its JS food").main-content__image
      p.content__price 18 Lbs $16.9
      a.content__btn#content__schedule-btn(href="#") BUY NOW

    div.page-main__content
      h2.main-content_title JS Pet Scratching Post
      div.content__image
        img(src="/images/cat_distraction.jfif", alt="cat sctraching its JS scratching post").main-content__image
      p.content__price Only $16.99
      a.content__btn#content__schedule-btn(href="#") BUY NOW

    div.page-main__content
      h2.main-content_title JS Cat Indoor Bed
      div.content__image
        img(src="/images/cat_house.jfif", alt="cat relaxing in its JS indoor bed").main-content__image
      p.content__price Only $20.99
      a.content__btn#content__schedule-btn(href="#") BUY NOW



      //- dog_treats https://unsplash.com/photos/XoOXuRDIBPg
      //- dog_treats https://www.pexels.com/photo/black-and-tan-yorkshire-terrier-puppy-230785/
      //- dog_food https://unsplash.com/photos/NOBRu2TAqcs
      //- cat_distraction https://unsplash.com/photos/1hBWrLIDSCc
      //- cat_house https://unsplash.com/photos/wahfVkDBoUc
